
a {
	font-family: arial, sans-serif;
	text-decoration: none;
	color: #000;
	opacity: .7;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
}

.nav-left {
	display: flex;
	align-items: center;
}

.nav-right {
	display: flex;
	align-items: center;
}

.nav-right>*{
	padding-right: 15px;
}
.nav-link{
	font-size: 13px;
	padding-left: 15px;
}

.nav-link:hover {
	text-decoration: underline;
}

.app-icon{
	padding-top: 5px;
}

.app-icon span {
	opacity: .55;
}

.app-icon:hover span {
	opacity: 1;
	cursor: pointer;
}

.sign-in {
	background-color: #4285f4;
	border: 1px solid #4285f4;
	color: white;
	padding: 0 12px;
	line-height: 28px;
	border-radius: 2px;
	font-weight: bold;
}

.sign-in a {
	color: white;
	text-decoration: none;
}

.sign-in:hover a{
	cursor: default;
}

.sign-in:hover {
	box-shadow: 0 1px 0 rgba(0,0,0,.3);
}

main {
	text-align: center;
	margin-top: 100px;
}

.searchbar-container {
	display: flex;
	width: 470px;
	border-radius: 20px;
    border: 1px solid #e9eaed;
    padding: 0 15px;
    align-items: center;
    margin: 22px auto;
}

.searchbar-container span{
	font-size: 22px;
	opacity: .35;
}

.searchbar {
    width: 470px;
    padding-left: 10px;
    line-height: 40px;
    border: none;
}

.search-button {
	border: none;
    padding: 12px 15px;
    color: #5f6368;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-right: 15px;
}

.search-button:hover {
	border: 1px solid #c1c1c1;
	margin: -1px 14px -1px -1px;
	background-color: #f6f6f6;
}

.searchbar-container:hover {	
    box-shadow: 1px 1px 3px #b5b5b5;
}

.searchbar:focus {
	outline: 0;
}

footer {
	width: 100vw;
	box-sizing: border-box;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	position: fixed;
	background: #f2f2f2;
	bottom: 0;
}

.footer-link {
	padding: 5px;
	font-size: 14px;
}
.footer-link:hover {
	text-decoration: underline;
}